{% extends 'layout.html' %}


{% block content %}

    <div class="container">
        <div class="row mt-4 mb-4">
            <div class="col-md-4 col-12 d-flex justify-content-center mb-4" style="margin-bottom: 75px;">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://miro.medium.com/proxy/1*KwdVLH5e_P9h8hEzeIPnTg.png" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">LINEAR RERESSION</h5>
                    <p class="card-text text-justify">Linear regression analysis is used to predict the value of a variable based on the value of another variable. The variable you want to predict is called the dependent variable. The variable you are using to predict the other variable's value is called the independent variable. </p>
                    <a href="https://piet-harsh-houseprice.herokuapp.com/" target="_blank" class="custom-btn btn-5 w-100">Check Project</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-12 d-flex justify-content-center mb-4 " style="margin-bottom: 25px;">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="http://ordination.okstate.edu/plane.jpg " alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">MULTIPLE REGRESSION</h5>
                    <p class="card-text text-justify">Multiple regression is a statistical technique that can be used to analyze the relationship between a single dependent variable and several independent variables. The objective of multiple regression analysis is to use the independent variables whose values are known to predict the value of the single dependent value. </p>
                    <a href="https://piet-harsh-house-price-part-2.herokuapp.com/" target="_blank" class="custom-btn btn-5 w-100">Check Project</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-12 d-flex justify-content-center mb-4" style="margin-bottom: 75px;">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://i.stack.imgur.com/dqhTM.png" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">DECISION TREE</h5>
                    <p class="card-text text-justify">Decision Tree is a Supervised learning technique that can be used for both classification and Regression problems, but mostly it is preferred for solving Classification problems. It is a tree-structured classifier, where internal nodes represent the features of a dataset, branches represent the decision rules and each leaf node represents the outcome. </p>
                    <a href="https://harsh0319-decision-tree-prediction-app-cputvn.streamlitapp.com/" target="_blank" class="custom-btn btn-5 w-100">Check Project</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-12 d-flex justify-content-center mb-4" style="margin-bottom: 25px;">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJ2hDyjLKlxs6o6VuayarJJ7V133ht5yZTsQ&usqp=CAU " alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">RANDOM FOREST</h5>
                    <p class="card-text text-justify">Random forest is a commonly-used machine learning algorithm trademarked by Leo Breiman and Adele Cutler, which combines the output of multiple decision trees to reach a single result. Its ease of use and flexibility have fueled its adoption, as it handles both classification and regression problems. </p>
                    <a href="https://harsh0319-random-forest-app-zmw7p7.streamlitapp.com/" target="_blank" class="custom-btn btn-5 w-100">Check Project</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-12 d-flex justify-content-center mb-4" style="margin-bottom: 75px;">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://i0.wp.com/insightbot.blob.core.windows.net/blogimagecontainer/67cc2817-e23c-4332-9c02-63ca1ff0ac33_med.jpg?ssl=1 " alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">LOGISTIC RERESSION & SVM</h5>
                    <p class="card-text text-justify">Logistic regression estimates the probability of an event occurring, such as voted or didn't vote, based on a given dataset of independent variables. Since the outcome is a probability, the dependent variable is bounded between 0 and 1. </p>
                    <a href="https://piet-harsh-placement.herokuapp.com/" target="_blank" class="custom-btn btn-5 w-100">Check Project</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

{% endblock %}